<template>
  <div id="app">
    <b-button @click="GetUserList">회원 목록</b-button>
    <template v-if="flag">
      <input type="text" placeholder="NAME" v-model="UserName">
      <input type="password" placeholder="PASSWORD" v-model="Password">
      <b-button @click="LoginAction">로그인</b-button>
    </template>
    <template v-if="!flag">
      <span>{{ UserName }} 접속중</span>
      <b-button @click="LogoutAction">로그아웃</b-button>
    </template>
    <br>
    <b-table striped fixed hover :items="UserList"></b-table>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "app",
  data() {
    return {
      UserName: "",
      Password: "",
      UserList: [],
      flag: true
    };
  },
  computed: mapState(["AuthToken"]),
  methods: {
    LoginAction() {
      this.$store.dispatch("CheckUser", {
        UserName: this.UserName,
        Password: this.Password
      });
      setTimeout(
        function() {
          if (this.AuthToken != "") {
            this.$axios.defaults.headers.common["Authorization"] =
              "Bearer " + this.AuthToken;
            this.flag = !this.flag;
          }
        }.bind(this),
        500
      );
    },
    LogoutAction() {
      this.$axios.defaults.headers.common["Authorization"] = "";
      this.flag = !this.flag;
      this.UserList = [];
      this.$store.dispatch("DeleteTokenAction");
      this.UserName = '';
      this.Password = '';
    },
    GetUserList() {
      this.$axios
        .get("https://localhost:44365/api/v1/Users")
        .then(response => {
          this.UserList = response.data;
        })
        .catch(error => alert("올바른 로그인이 필요합니다."));
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>